@import './variables';
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(hsl(235, 16%, 14%) 60%, hsl(236, 21%, 26%));
    font-family: 'Red Hat Text', sans-serif;
}
.content-wrap{
height: 100vh;
width:100%;
background-image: url(../images/bg-stars.svg);
background-size: cover;
background-position: center;
position: relative;
.content{
    max-width: 800px;
    margin:0 auto;
    height: 100%;
    .content-inner{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        main{
            width: 100%;
            header{
                text-align: center;
                margin-top:-200px;
                h1{
                    text-transform: uppercase;
                    color: $titleColor;
                }
                margin-bottom: 100px;
            }
            section{
                width:100%;
                .counter{
                    width:100%;
                    display: flex;
                    justify-content: space-around;
                }
                .counter>div{
                    width:25%;
                    margin:10px;
                    padding:10px;
                    text-align: center;
                    .number{
                        background:hsl(236, 21%, 26%);
                        color:$red;
                        font-size:5rem;
                        font-weight: 1000;
                        padding:15px 30px;
                        border-radius: 6px;
                        position: relative;
                        /*&::after{
                            content:"";
                            width:100%;
                            height: 2px;
                            background:hsl(235, 16%, 14%);
                            position: absolute;
                            left:0px;
                            top:50%;
                            opacity: 0.5;
                        }*/
                    }
                    .text{
                        color: $defaultColor;
                        font-weight: bold;
                        letter-spacing: .3em;
                        margin-top:12px;
                    }
                }
            }
        }
    }
}
footer{
    background:url(../images/pattern-hills.svg);
    background-size: 100% 100%;
    background-position: center center;
    min-height: 200px;
    position: absolute;
    bottom:0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .social-icons{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 200px;
        svg{
          
            &:hover path{
                fill:$red;
            }
            
        }
    }
    .social-icons > div{
        width: 33.33%;
    }
}
}
